Node-Red/Habeetat Sesores.json
[
    {
        "id": "173e8d1844a7f519",
        "type": "tab",
        "label": "Habeetat Sesores",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9ee06ae6d30171d1",
        "type": "mqtt in",
        "z": "173e8d1844a7f519",
        "name": "",
        "topic": "codigoIoT/G7/Habeetat",
        "qos": "2",
        "datatype": "auto",
        "broker": "d191d34239fdbca3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "189b5f269c46b3ea",
                "268ffddb2cd02285",
                "22a1163daefb00cf"
            ]
        ]
    },
    {
        "id": "189b5f269c46b3ea",
        "type": "ui_text",
        "z": "173e8d1844a7f519",
        "group": "4561cb748213f12f",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Sensores de la Colmena",
        "format": "Temperatura Humedad Peso",
        "layout": "col-center",
        "className": "",
        "x": 430,
        "y": 160,
        "wires": []
    },
    {
        "id": "268ffddb2cd02285",
        "type": "debug",
        "z": "173e8d1844a7f519",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "22a1163daefb00cf",
        "type": "json",
        "z": "173e8d1844a7f519",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "60678be87a8e6562",
                "cd68a87ba2f63020",
                "83a5a052f5e9e1da",
                "7a6d78e7b50f23aa",
                "fa9b31ec7a4ac5c9",
                "fbd597732f010dd1",
                "79d34a735c8b211b",
                "00743324b431afc2"
            ]
        ]
    },
    {
        "id": "60678be87a8e6562",
        "type": "function",
        "z": "173e8d1844a7f519",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.temp;\nglobal.set (\"tempFlow7s\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 260,
        "wires": [
            [
                "06c1f227830fa078"
            ]
        ]
    },
    {
        "id": "cd68a87ba2f63020",
        "type": "function",
        "z": "173e8d1844a7f519",
        "name": "humedad",
        "func": "msg.payload = msg.payload.hum;\nglobal.set (\"humFlow7s\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 160,
        "wires": [
            [
                "6548df46646a65a1"
            ]
        ]
    },
    {
        "id": "83a5a052f5e9e1da",
        "type": "function",
        "z": "173e8d1844a7f519",
        "name": "ID",
        "func": "msg.payload = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 60,
        "wires": [
            [
                "6461814043332265"
            ]
        ]
    },
    {
        "id": "6461814043332265",
        "type": "ui_text",
        "z": "173e8d1844a7f519",
        "group": "4561cb748213f12f",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Id",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 970,
        "y": 60,
        "wires": []
    },
    {
        "id": "6548df46646a65a1",
        "type": "ui_text",
        "z": "173e8d1844a7f519",
        "group": "4561cb748213f12f",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Humedad",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 980,
        "y": 160,
        "wires": []
    },
    {
        "id": "06c1f227830fa078",
        "type": "ui_text",
        "z": "173e8d1844a7f519",
        "group": "4561cb748213f12f",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "temperatura",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 990,
        "y": 260,
        "wires": []
    },
    {
        "id": "7a6d78e7b50f23aa",
        "type": "function",
        "z": "173e8d1844a7f519",
        "name": "Peso",
        "func": "msg.payload = msg.payload.peso;\nglobal.set (\"pesoFlow7s\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 320,
        "wires": [
            [
                "63c95867ea4dafa5",
                "ee53cc3bff2ff9d0"
            ]
        ]
    },
    {
        "id": "63c95867ea4dafa5",
        "type": "ui_text",
        "z": "173e8d1844a7f519",
        "group": "4561cb748213f12f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Peso",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 970,
        "y": 320,
        "wires": []
    },
    {
        "id": "fa9b31ec7a4ac5c9",
        "type": "function",
        "z": "173e8d1844a7f519",
        "name": "Hist. Temp",
        "func": "msg.label = \"Temepratura\";\nmsg.topic = \"temperatura\";\nmsg.payload = msg.payload.temp;\nreturn msg;\n\n\n//msg.topic = msg.payload.id;\n//msg.payload = msg.payload.temp;\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 460,
        "wires": [
            [
                "8bef375580512dcc"
            ]
        ]
    },
    {
        "id": "fbd597732f010dd1",
        "type": "function",
        "z": "173e8d1844a7f519",
        "name": "Hist. Humedad",
        "func": "msg.label = \"Humedad\";\nmsg.topic = \"Humedad\";\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 540,
        "wires": [
            [
                "8bef375580512dcc"
            ]
        ]
    },
    {
        "id": "8bef375580512dcc",
        "type": "ui_chart",
        "z": "173e8d1844a7f519",
        "name": "OmarAb",
        "group": "667dcfb7cec66985",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Hist. Temperatura y humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "90",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#4e9a06",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "79d34a735c8b211b",
        "type": "function",
        "z": "173e8d1844a7f519",
        "name": "Hist. Peso",
        "func": "msg.label = \"Peso\";\nmsg.topic = \"Peso\";\nmsg.payload = msg.payload.peso;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 620,
        "wires": [
            [
                "7fd65055e8fe8b93"
            ]
        ]
    },
    {
        "id": "7fd65055e8fe8b93",
        "type": "ui_chart",
        "z": "173e8d1844a7f519",
        "name": "",
        "group": "667dcfb7cec66985",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Peso (grms.)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "15000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "100",
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#edd400",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "ee53cc3bff2ff9d0",
        "type": "ui_gauge",
        "z": "173e8d1844a7f519",
        "name": "",
        "group": "4561cb748213f12f",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Peso",
        "label": "grms.",
        "format": "{{value}}",
        "min": 0,
        "max": "15000",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "1000",
        "seg2": "3000",
        "className": "",
        "x": 970,
        "y": 380,
        "wires": []
    },
    {
        "id": "00743324b431afc2",
        "type": "function",
        "z": "173e8d1844a7f519",
        "name": "Enciende > 26°C",
        "func": "if (msg.payload.temp > 26){\n    msg.payload = \"true\";\n}\nelse{\n    msg.payload = \"false\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 700,
        "wires": [
            [
                "7c5e512d670a64a8"
            ]
        ]
    },
    {
        "id": "7c5e512d670a64a8",
        "type": "mqtt out",
        "z": "173e8d1844a7f519",
        "name": "",
        "topic": "codigoIoT/G7/Habeetat_in",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d191d34239fdbca3",
        "x": 1050,
        "y": 700,
        "wires": []
    },
    {
        "id": "d191d34239fdbca3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4561cb748213f12f",
        "type": "ui_group",
        "name": "Sensores Colmena",
        "tab": "6f4bed16441c2925",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "667dcfb7cec66985",
        "type": "ui_group",
        "name": "Histórico Temp/hum/peso",
        "tab": "6f4bed16441c2925",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f4bed16441c2925",
        "type": "ui_tab",
        "name": "Habeetat Sensores",
        "icon": "dashboard",
        "order": 11,
        "disabled": false,
        "hidden": false
    }
]